.generatorCard {
  max-width: 60vw;
  display: block;
  margin: auto;
  padding: 50px 48px;
}

.heading {
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.04em;
  margin: 16px 0px;
  color: #1a181e;
}

.desc {
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #4d4d4d;
  margin: 0;
  margin-bottom: 48px;
}

.inputlabel {
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4d4d4d;
}

.inputBox > input {
  width: 380px;
  height: 48px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 20px;
}

.inputBox > input:focus {
  outline: none !important;
  border: 2px solid #146eb4;
}

.blueButton {
  padding: 8px 24px;
  width: 250px;
  height: 50px;
  background: #146eb4;
  border-radius: 4px;
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  border: none;
  margin-top: 48px;
}

.sloganList {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 48px 0px;
  margin: 48px 0px;
}

.resultDiv {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  align-items: center;
}

.text {
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #1a181e;
  margin: 0px;
}

.outlinedButton {
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #146eb4;
  padding: 8px 24px;
  border: 1px solid #146eb4;
  border-radius: 4px;
  background-color: #fff;
}

.slogansDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.sloganText {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  background: #f2f2f2;
  padding: 12px 16px;
  min-height: 60px;
  border-radius: 4px;

  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a181e;
  white-space: normal;
  text-align: left;
}

.sloganBox {
  background-color: #fff;
  padding: 8px 0px;
  width: 50%;
}

.sloganBox:nth-child(odd) {
  padding-right: 8px;
}
.sloganBox:nth-child(even) {
  padding-left: 8px;
}
