.generatorCard {
  max-width: 52vw;
  display: block;
  margin: auto;
  padding: 54px 48px;
}

.heading {
  font-family: "Galano_Grotesque_Semi";
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.04em;
  margin: 16px 0px;
  color: #1a181e;
}

.desc {
  font-size: 20px;
  line-height: 28px;
  color: #4d4d4d;
  margin: 0;
  margin-bottom: 48px;
}

.inputlabel {
  font-family: "Galano_Grotesque_Med";
  font-size: 16px;
  line-height: 24px;
  color: #4d4d4d;
}

.inputBox {
  position: relative;
}

.inputBox > input {
  width: 380px;
  height: 48px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 16px;

  font-family: "Galano_Grotesque_Reg";
  font-size: 20px;
}

.inputBox > input:focus {
  outline: none !important;
  border: 2px solid #146eb4;
}

.inputBox > .crossIcon {
  position: absolute;
  left: 350px;
  top: 14px;
  font-size: 12px;
  color: #4d4d4d;
}

.inputBox > .crossIcon:hover {
  cursor: pointer;
}

.blueButton,
.blueButtonDisabled {
  padding: 8px 24px;
  width: 250px;
  height: 50px;
  background: #146eb4;
  border-radius: 4px;
  border: none;
  margin-top: 48px;

  font-family: "Galano_Grotesque_Med";
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

.blueButtonDisabled {
  opacity: 0.5;
}

.blueButtonDisabled:hover {
  cursor: not-allowed;
}

.sloganList {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 48px 0px;
  margin: 48px 0px;
}

.resultDiv {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  align-items: center;
}

.text {
  font-family: "Galano_Grotesque_Med";
  font-size: 20px;
  line-height: 28px;
  color: #1a181e;
  margin: 0px;
}

.outlinedButton {
  font-family: "Galano_Grotesque_Med";
  font-size: 14px;
  line-height: 20px;
  color: #146eb4;

  padding: 8px 24px;
  border: 1px solid #146eb4;
  border-radius: 4px;
  background-color: #fff;
}

.slogansDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.sloganText {
  background: #f2f2f2;
  padding: 10px 16px;
  border-radius: 4px;
  min-height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 16px;
  line-height: 22px;
  color: #1a181e;
  text-align: left;
}

.sloganBox {
  background-color: #fff;
  padding: 8px 0px;
  width: 50%;
  position: relative;
}

.sloganBox:nth-child(odd) {
  padding-right: 16px;
}
.sloganBox:nth-child(even) {
  padding-left: 16px;
}

.pageinationDiv {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
  color: #146eb4;
}

.pageNumbers {
  width: 50%;
  display: flex;
}

.pageNo {
  padding: 10px 15px;
}

.selectedNo {
  height: 35px;
  width: 35px;
  padding-top: 8px;
  margin-right: 5px;
  text-align: center;
  background-color: #146eb4;
  color: #fff;
  border-radius: 50%;
}

.nextButton > button {
  background-color: #fff;
  border: none;
  color: #146eb4;
}
.nextButton {
  padding: 10px;
  display: flex;
}

.buttonIcon {
  display: flex;
}

.selectedNo:hover,
.pageNo:hover,
.nextButton > button:hover,
.nextButton:hover,
.blueButton:hover,
.outlinedButton:hover,
.sloganBox:hover {
  cursor: pointer;
}

.copyToast,
.copiedToast {
  background: #4d4d4d;
  border-radius: 4px;
  position: absolute;
  min-width: 80px;
  max-width: 150px;
  padding: 8px 16px;
  font-family: "Galano_Grotesque_Med";
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.sloganBox:nth-child(odd) > .copyToast {
  left: -140px;
  top: 22px;
}
.sloganBox:nth-child(even) > .copyToast {
  right: -140px;
  top: 22px;
}

.sloganBox:nth-child(odd) > .copiedToast {
  left: -100px;
  top: 22px;
}

.sloganBox:nth-child(even) > .copiedToast {
  right: -100px;
  top: 22px;
}
