.lightBg {
  background-color: #fafafa;
  height: 100vh;
}

.blueBg {
  background: #146eb4;
  height: 25vw;
  position: relative;
}

.sloganCard {
  position: absolute;
  top: 10vw;
  left: 15vw;
  left: 15vw;
  height: auto;
  width: 70vw;
  border-radius: 8px;
  z-index: 1;
  background-color: #fff;
  padding: 50px 48px;
}

.navbar {
  max-width: 1200px;
  display: flex;
  margin: auto;
  padding: 24px 8px;
}

@media only screen and (max-width: 1100px) {
  .navbar {
    padding: 20px 32px;
  }
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.whiteButton {
  width: 180px;
  height: 50px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #146eb4;
}

.signinButton {
  padding: 16px 32px;
  margin-right: 12px;
}
