@font-face {
  font-family: "Galano Grotesque";
  src: url("/fonts/galanogrotesque-regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Galano Grotesque";
  src: url("/fonts/galanogrotesque-medium.otf");
  font-weight: medium;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("/fonts/galanogrotesque-semibold.otf");
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Galano Grotesque, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
