@font-face {
  font-family: "Galano_Grotesque_Reg";
  src: url("/fonts/galanogrotesque-regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Galano_Grotesque_Med";
  src: url("/fonts/galanogrotesque-medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Galano_Grotesque_Semi";
  src: url("/fonts/galanogrotesque-semibold.otf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Galano_Grotesque_Reg", sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
